.dag-title {
	text-anchor: middle;
	font-size: 14px;
	font-weight: 700;
	fill: #146ee6;
}

.dag-subtitle {
	text-anchor: middle;
	font-size: 11px;
	font-weight: 500;
	fill: #146ee6;
}

.dag-header-status {
	font-size: 10px;
	font-weight: 700;
	fill: #146ee6;
	letter-spacing: 0.05em;
}
